.explore__topics .topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 10px 0;
}

.explore__topics .topic .title {
  color: var(--primary-color);
  font-size: 1rem;
  display: flex;
  gap: 10px;
  transition: transform 0.2s;
}

.explore__topics .topic .title:hover {
  transform: translateX(3px);
}
