@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
  --primary-color: #203656;
  --secondary-color: #e2eafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  color: #636e7f;
}

section {
  min-height: 90vh;
}

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: auto;
  /* border: 1px solid gray; */
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

h2.heading {
  color: var(--primary-color);
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 25px;
}

h2.heading::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
  bottom: -5px;
  background: var(--secondary-color);
}

:where(.css-dev-only-do-not-override-gk0kyt) a:hover {
  color: inherit;
}

.input__group {
  margin-bottom: 15px;
}

.input__group label {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 10px;
  display: block;
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 900px;
  }
}
